<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiVersion" value="1.2"/>
    <add key="ApiURL" value="https://api.7digital.com"/>
    <add key="AccountURL" value="n/a"/>
    <add key="OauthRequestTokenURL" value="oauth/requesttoken"/>
    <add key="OauthAccesstokenURL" value="oauth/accesstoken"/>
    <add key="UserAuthenticationURL" value="oauth/authorise"/>
    <add key="SketchpadURL" value="n/a"/>
    <add key="ConsumerKey" value="n/a"/>
    <add key="ConsumerSecret" value="n/a"/>
    <add key="Password" value="test" />
    <add key="Users" value="100"/>
    <add key="UsersEmailPrefix" value="loadtestuser"/>
    </appSettings>
</configuration>